<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif" rel="stylesheet">
    <style>
      h1, h2, h3, h5 {
        font-family: 'Noto Serif', serif;
      }

      h4, h6, p {
        font-family: 'Noto Sans', sans-serif;
      }
      body {
        background-color: #F2F3F5;
      }
      a {
        color: #3A559B;
      }
      .container {
        width: 600px;
        margin: auto;
        background-color: #ffffff;
      }
      .bottom-padding, .header-top {
        height: 64px;
      }
      .margin {
        width: 32px;
      }
      img {
        margin: auto;
        display: block;
      }
      .logo {
        margin-top: 64px;
      }
      svg {
        display: block;
        margin: auto;
      }
      h1 {
        text-align: center;
      }
      .memory {
        background: #BECAE8;
        padding: 16px 32px;
        margin: auto;
      }
      .memory-link {
        text-decoration: none;
        color: black;
      }
      .memory-link h3, .memory-link p {
        color: black;
      }
      .footer {
        width: 600px;
        margin: auto;
        background: #0D2059;
      }
      .footer-top {
        height: 16px;
      }
      .footer p, .footer a {
        color: white;
      }
      .footer .url {
        color: #ffffff;
        font-size: 10px;
      }
      .footer p a {
        font-size: 16px;
      }
      .copyright {
        text-align: right;
        font-size: 10px;
        color: #ffffff;
      }
      .padding-left {
        padding-left: 32px;
      }
    </style>
  </head>
  <body>
    <table class="container">
      <tr class="header-top">
      <tr class="logo">
        <td class="margin"></td>
        <td>
          <img src="https://s3.amazonaws.com/memorial-staging-imgs/Memorial+Logo.png">
          <h1>Memorial</h1>
        </td>
        <td class="margin"></td>
      </tr>
      <tr>
        <td class="margin"></td>
        <td>
          <h2 class="padding-left">Hi <%= @user.first_name %></h2>
          <h3 class="padding-left">A new memory has been posted to your memorial for <%= @memory.memorial[:first_name] %> <%= @memory.memorial[:last_name]%> and needs your approval.</h3>
          <p class="padding-left">
            <%= @from.first_name %> <%= @from.last_name %> has submitted the following memory:
          </p>
        </td>
        <td class="margin"></td>
      </tr>
      <tr>
        <td class="margin"></td>
        <td>
          <table class="memory">
          <tr>
            <td class="margin"></td>
            <td>
              <a class="memory-link" href="<%= ENV['PAGE_URL'] %>/create/<%= @memory.memorial_id %>/memories">
                <div class="memory">
                  <h3><%= @memory.title %></h3>
                  <p>
                    <%= @memory.description %>
                  </p>
                </div>
              </a>
            </td>
          </tr>
          </table>
        </td>
        <td class="margin"></td>
      </tr>
      <tr>
        <td class="margin"></td>
        <td>
          <p class="padding-left">
            Visit <a href="<%= ENV['PAGE_URL'] %>/create/<%= @memory.memorial_id %>/memories">Approve Memories</a> to approve or deny this memory.
          </p>
        </td>
        <td class="margin"></td>
      </tr>
      <tr>
        <td class="margin"></td>
        <table class="footer">
          <tr class="footer-top"></tr>
          <tr>
            <td class="margin"></td>      
            <td colspan="2">
              <p>
                Would you rather not have to approve all of the memories added to this memorial? Vist
                <a href="<%= ENV['PAGE_URL'] %>/create/<%= @memory.memorial_id %>/memories">Approve Memories</a>  and unchecking the box.
              </p>
            </td>
            <td class="margin"></td>
          </tr>
          <tr>
            <td class="margin"></td>
            <td class="flex">
              <p><a class="url" href="https://mymemorial.co">MyMemorial.co</a></p>
            </td>
            <td class="copyright">
              <p class="copyright">&copy; 2019 Mitch McCutchen LLC</p>
            </td>
            <td class="margin"></td>
          </tr>
          <tr class="footer-bottom">
        </table>
      </tr>
    </table>
  </body>
</html>